*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 100vh;
    background: url('/img/pexels-simon-berger-1323550.jpg');
    background-size: 100% 100%;
    background-position: center;
    }


.logo{
    align-self: flex-start;
}

.container-login{
    border: solid 1.5px #cacaca;
    border-radius: 4%;
}

.container-login__title{
    width: auto;
    text-align: center;
    font-size: 46px;
    color: whitesmoke;
}

.container-login-form{
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.container-login__label{
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.container-login-form__input{
    width: 350px;
    padding: 15px;
    border: solid 0.6px #cacaca;
    border-radius: 2px;
    font-size: 16px;
}

.container-login-form-password{
    padding: 10px 0px;
}

.container-login-form__input--purple{
    background-color: #a427b8;
}

.container-login-form-errors{
    list-style: none;
}

.container-login-form-errors__items{
    font-size: 12px;
}

.container-login-form__link{
    padding-top: 10px;
    align-self: center;
}



/*******************************************/
/*******************************************/
/*******************************************/
