*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/img/img.jpg');
    background-size: cover;
    background-position: center;
}

/*Styles login*/
/*************************************/

.login{
    background: transparent;
    color: white;
    border-radius: 2%;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, .2);
}


.login__title{
    text-align: center;
    font-size: 40px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;

}

.login__label{
    align-self: flex-start;
    padding-top: 15px;
   
}

.login-form__input{
  padding: 15px;
  width: 250px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
}

.login-form__input--purple{
    background-color: #a427b8;
}


.login-form-errors{
    list-style: none;
}

.login-form-errors__items{
    font-size: 11px;
}

.login-form-password{
    align-self: flex-start;
    padding-left: 10px;
}

.login-form__link{
    text-decoration: none;
    padding-top: 8px;
    color: white;
}

.login-form__link:hover{
    color: purple;
}

/*End styles login*/
/******************************************************/

/*Styles register*/

.logo{
    align-self: flex-start;
}

.register{
    background: transparent;
    color: white;
    border-radius: 2%;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, .2);
}

.register__title{
    text-align: center;
    font-size: 40px;
}

.register__message{
    text-align: center;
    color: gray;
}


.register-form{
    display: grid;
    justify-items: end;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(100px,1fr));
    padding: 30px 40px;


}

.register__label{
    align-self: flex-start;
}

.register-form__input{
  padding: 15px;
  width: 250px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.register-form-errors{
    list-style: none;
    grid-column: 1/3;
    justify-self: center;
}

.register-form-errors__item{
    color: red;
}

.register-form__input--purple{
    background-color: #a427b8;
    color: white;
    grid-column: 1/3;
    justify-self: center;
}


.register-form__link{
    text-decoration: none;
    padding-top: 8px;
    color: white;
    grid-column: 1/3;
    justify-self: center;
}

.register-form__link:hover{
    color: purple;
}



