body {
    margin: 0%;
}

.container-menu-top {
    width: 80%;
    height: 150px;
    border-bottom: solid 0.3px gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.container-menu-top-widgetsearch {
    padding-left: 20px;
}

.container-menu-top-widgetsearch__input {
    width: 45vw;
    height: 30px;
    border-radius: 5px;
}

.container-menu-top-widgetsearch__btn{
    width: 40px;
    height: 40px;
}

.container-menu-top-widgetsearch__icon {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.container-menu-top-user{
    margin-right: 45px;
}



.container-menu-top-user-info {
    width: 100px;
    border: solid 0.5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;
     position: relative;
}



.container-menu-top-user-info-image {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    background-image: url("/img/user.png");
    background-position: center;
    background-size: 100% 100%;
}


.container-menu-top-user-info__text {
    margin: 0%;
    font-size: 12px;
}

.container-menu-top-user-info__icon{
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.container-menu-top-select{
    position: absolute;
    right: 0;
    top: 130px;
    right: 45px;
    display: none;
}

.container-menu-top-select--active{
    display: block;
}
.container-menu-top-user-info__link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/*Menu lateral*/
/***************************/
.lateral-menu {
    width: 20%;
    height: 100vh;
    background-color: gray;
    position: fixed;
    float: left;
}

.lateral-menu-header {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.lateral-menu-header__img {
    width: 60px;
    height: 60px;
    background-image: url("/img/user.png");
    background-size: 100% 100%;
    background-position: center;
}

.lateral-menu-header__text {
    color: white;
}

.lateral-menu-options {
    list-style: none;
    padding: 0%;
}
.lateral-menu-options__items {
    background-color: white;
    margin: 10px 5px;
    border-radius: 10px;
    padding: 10px 15px 10px;
}

.lateral-menu-options__links {
    text-decoration: none;
    font-size: 20px;
}

/***************************/
/***************************/
/***************************/

/*Container principal*/

.container-principal {
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.title-products {
    font-size: 40px;
    align-self: flex-start;
    padding-left: 40px;
}

.container-principal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-principal-form__label {
    font-size: 20px;
    font-weight: bold;
}

.container-principal-form__text--small{
    font-size: 12px;
}

.container-principal-form--inactive{
    display: none;
}

.container-principal-form__items {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.container-principal-form__items--purple {
    background-color: green;
    color: white;
}

/*Tabla de datos*/
/*****************************/
/*****************************/
/*****************************/
.container-principal-table {
    border: solid 1px;
    margin-bottom: 50px;
    margin: 50px 0px;
    max-height: 500px;
}
.container-principal-table__th{
 font-size: 22px;
 padding-left: 20px;
 border-bottom: solid 0.5px black;
 background-color: whitesmoke;
}

.container-principal-table__td{
padding-left: 20px;

}

.inactive{
    display: none;
}